{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
     <title>CRYPTO PRICE TRACKER</title>
   
    
    <link rel="stylesheet" href="./styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Poppins:wght@200&display=swap"
    />
    
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap"
    />
    
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <style type="text/css">.body {width: auto; }</style>
   
    
  </head>
  <body>
    <header>
      <div class="container">
        <nav class="navbar"">
          <div class="">
            <div class="logo">
              <img src="./images/prices.png" width="50px" alt="logo" />
            </div>
            <div>
              <ul class="left">
              <a href="#">NetoFX.com</a>
              <a href="#">Home</a>
              <a href="#">About</a>
              <a href="#">Services</a>
              <a href="#">Buy Crypto</a>
              <a href="#">Earn</a>
              <a href="#">More</a>
            </div>
          </div>
      <h1>NetoFX.com</h1>
      <p>Cryptocurrency is a digital currency secured by cryptography, operating independently of central authorities. It utilizes blockchain technology for decentralized transaction records. Examples include Bitcoin, Ethereum, Ripple, Litecoin, and Cardano, each with unique features and purposes.</p>

      <h1>The complete CFD trading experience</h1>
      <p>Award-winning platforms, competitive spreads, low commissions and dedicated support. See why we’re the choice for 1,000,000 traders around the world.*</p>
      <main>
        <section id="crypto-list">
          <div class="left">
            <button class="btn btn-primary">ACCESS TRADING CHATS</button>
          </div>
          <img src="./images/prices.png" width="50px" accesskey/>
          <h2></h2>
          <!-- Crypto list will be populated dynamically -->
        </section>
      </main>
      <div class="container">
        <nav class="flex items-centre justify-between">
          <div class="left flex justfiy-right">
            <div class="logo">
              
            </div>
           
          </div>
          <div class="right">
            <button class="btn btn-primary">Contact</button>
          </div>
        </nav>
      </div>
    </header>
    <div class="hero flex items-centre justify-between">
      <div class="left flex-1 justify-center">
        <img src="./images/main-image.jpeg" alt="Profile" />
      </div>
      <div class="right flex-1">
        <h6>Akshat Sharma</h6>
        <h1>
          <br>Looking For The<br/>
          <span>Tightiest Spreads</span>
          <p>For All Trade Types</p>
        </h1>
        <p>
          Introducing an elevated trading experience. Enjoy super-tight spreads as low as 0.0 for major currencies, plus $10 USD commission per $200k traded and additional Bonus when you Download Our App.

          Discover our RAW Spread account today.
        </p>
        <div>
          <button class="btn btn-secondary">DOWNLOAD APP</button>
        </div>
      </div>
    </div>
    <section class="about">
       <img src="./images/main-image.jpeg" alt="Profile" />
      <div class="container flex items-left justify-between">
        <div class="left flex-1 justify-right">
          
        </div>
        <div class="flex-1 justify-left">
         
          <h1>About <span>Bitcoin CRYPTO</span></h1>
          
          <p>
            
            

            Bitcoin, introduced in 2009 by the mysterious Satoshi Nakamoto, stands as a pioneering force in the cryptocurrency realm, holding the top spot by market capitalization. Its inception marked a pivotal moment for digital payment solutions, laying the groundwork for numerous altcoins in today's market.

            Unlike traditional currencies, Bitcoin is entirely digital and divisible into smaller units called satoshis, named after its creator. Operating on a decentralized network of computers, known as nodes, Bitcoin transactions are transparent and censorship-resistant, transcending the limitations of centralized financial systems.

            <h1>Why Is Bitcoin Price So Volatile?</h1>

            Bitcoin's price volatility stems from several factors. Its relatively smaller market size compared to traditional markets allows significant trades to influence prices dramatically. Additionally, public sentiment and speculation heavily impact short-term price fluctuations, with media coverage, influential opinions, and regulatory developments playing significant roles.

            The fixed supply of 21 million bitcoins, coupled with the influence of large holders ("whales") and their transactions, further contributes to price volatility.

            <h1>When Was Bitcoin Created?</h1>

            Bitcoin's genesis dates back to 2009, with Satoshi Nakamoto's release of the groundbreaking whitepaper outlining its decentralized, peer-to-peer structure and blockchain technology. The first Bitcoin transaction occurred on January 12, 2009, marking the beginning of Bitcoin's journey as a transformative force in the financial landscape.

            <h1>Who Created Bitcoin?</h1>

            Despite numerous speculations and investigations, the true identity of Satoshi Nakamoto remains a mystery. Nakamoto's innovative whitepaper and subsequent mining of the first Bitcoin block laid the foundation for Bitcoin's decentralized network and its profound impact on the financial industry.

            <h1>How Bitcoin Work?</h1>

            Bitcoin operates on a decentralized network, allowing individuals to conduct transactions securely and transparently without intermediaries. Transactions are recorded on the blockchain, validated by miners through computational power, and added as permanent records. This innovative approach to finance offers an alternative means of transacting, redefining traditional financial paradigms.

            <h1>When Is the Next Bitcoin price Value Fluctuate?</h1>

            The next Bitcoin halving is anticipated to occur in April 2024, approximately every four years. This event, built into the Bitcoin protocol, halves rewards for miners and aims to maintain Bitcoin's value as a deflationary currency. The reduction in new Bitcoin issuance helps prevent devaluation over time, aligning with its scarcity-driven design.

            <h1>Will Bitcoin Fluctuating Affect BTC’s Price?</h1>

            Historically, Bitcoin's price has surged in anticipation of halving events, driven by expectations of a supply shock. Post-halving, continued price increases may occur if demand surpasses the reduced supply. However, other factors such as market sentiment and regulatory developments also influence Bitcoin's price dynamics.

            For real-time updates on Bitcoin's price and market trends, visit our platform where live data is available.

            
       
          </p>
          
        </div>
      </div>
    </section>
    <section class="services">
      <div class="container">
        <h1 class="services-head">Platforms</h1>
        <p>Our platforms give you every possible cutting edge Trading Experience.</p>
        <div class="card-grid">
          <div class="card">
            <img src="" alt="icon"" />
            <h2>Mobile app</h2>
            <p>
              Intuitive and packed with tools and features, trade on the go with one-swipe trading, TradingView charts and create custom watchlists.
            </p>
          </div>
          <div class="card">
            <img src="" alt="Web trading" />
            <h2>Web trading</h2>
            <p>
              Trade without compromise. Access TradingView charts with over 80 indicators, Reuters news feeds, behavioural science technology and much more.
            </p>
          </div>
          <div class="card">
            <img src="" alt="TradingView" />
            <h2>TradingView</h2>
            <p>
              Access to powerful charts with more than 50 drawing tools and 100 indicators, as well as the ability to trade directly from the chart.
            </p>
          </div>
        </div>
      </div>
      
    </section>

    <main>
      <section class="services">
        <div class="container">
          <h1 class="services-head">CRYPTO PRICE UPDATES</h1>
          <p>Current Bitcoin price-rate Updates in USD</p>
          <div class="card-grid">
            <div class="card">
              <img src="" alt="Cryptocurrency"" />
              <h2>Price of BTC today</h2>
               <p>{{price}} USD="<width: 100rem;"</p>"</p>
              <p>
             
              </p>
            </div>


            </div>
          </div>
        </div>

      </section>
    </main>

    <footer>
      <div class="socials">
        <a href="#"><img src="./images/website.jpg" width="40px" /></a>
        <a href="#"><img src="./images/facebook.jpg" width="40px" /></a>
        <a href="#"><img src="./images/instagram.jpg" width="40px" /></a>
        <a href="#"><img src="./images/X.jpg" width="40px" /></a>
      </div>
      <p class="copyright">
        Copyright 2021, All rights reserved
      </p>
      <p>&copy; 2024 NetoFX.com</p>
    </footer>

    <!-- JavaScript for updating cryptocurrency prices -->
    <script src="{% static 'js/script.js' %}"></script>
   
  </body>
</html>